:root {
  --background-color: #add6f9;
  --color: black;
  --label-color: #9A9A9A;
  --follow-color: black;
  --button-color: #66615B;
  --react-color: white;
}

.theme-card-bg {
  background-color: var(--background-color);
  color: var(--color);
}

.card label {
  color: var(--label-color);
}

.card-stats .card-footer .stats {
  color: var(--label-color);
}

.blackHref, .blackHref:hover {
  color: var(--follow-color);
}

.clicks {
  background-color: var(--button-color);
}

.transparent-card {
  background-color: rgba(34, 34, 73, 0);
}

.react-button {
  color: var(--react-color);
}